<head>
    <title>NAME TODO</title>
    <style>
        body {
            background-color:#ffdab9;
        }
        h1 {
            position: center;
        }
    </style>
</head>
<body>
<h1><center>HELLO</center></h1>
<form action="/list/new">
    <center><input type="text" name="name"></input></center>
    <center><button type="submit">BUTT</button></center>
</form>
</body>