<head>
    <title>NAME TODO</title>
    <style>
        body {
            background-color:#ffdab9;
        }
        h1 {
            position: center;
        }
    </style>
</head>
<body>
<h1><center>jnhgbh</center></h1>
    <form action="/list/update/<%=@list_id%>">
    <input value ="<%=@list_name%>">
    <button type="submit">CLICK</button>
</form>
</body>