<head>
    <title><%=@list_name%></title>
    <style>
        body {
            background-color:#B95AC7;
        }
        h1 {
            border-bottom: 6px solid black;
            padding: 5px;
        }
        li {
            border:2px solid black;
            padding:3px;
            margin-right:40px;
        }
        .inline {
            display:inline
        }
        .image {
            position: absolute;
            width: 50%;
            float: right;
        }
        #list {
            float: right;
            padding-right: 200px;
        }
    </style>
</head>
<body>
    <h1><%=@list_name%></h1>
    <marquee>hello people and welcome to this awesome to do list :))</marquee>
    <marquee><img src="https://media3.giphy.com/media/1hiVNxD34TpC0/giphy.gif"></marquee>
        <form>
            <input type="text" id="info"></input>
            <button type="button" value="add to list" id="add" onclick="myfunction()">Click me</button>
            <table style="width=30%">
                <tr>    
                <form>
                    <ul id="list">
                        <% @todos.each do |todo| %>
                            <li>
                                <%= todo[:name] %> -- <%= todo[:is_checked] %>
                                <input type="checkbox"<% if todo[:is_checked] %>checked<% end %> />
                            </li>
                        <% end %>
                    </ul>
                </form>
                </tr>
                </table>
            <script type="text/javascript">
                function myfunction() {
                    var text=document.getElementById("info").value;
                    var li = document.createElement("div");
                    li.innerHTML= "<li>" + text + "<input type='checkbox'>" + "</li>";
                    document.getElementById("list").appendChild(li);
                }
            </script>
        </form>
        <p></p>
        <img class="image inline" src="https://media3.giphy.com/media/xTiTnJ3BooiDs8dL7W/giphy.gif">
</body>




